table.result-table{
    color: #000000;
    font-size: .9em;
}

table.result-table tr,
table.result-table tr td,
table.result-table thead th{
    border: 2px solid #000;
}

canvas#barChart{
    max-width: 230px;
    height: 180px;
    color: #fff;
}
